@import "./color-palette.scss";

html[color-theme='dark'] {
	/* Palette */
	$clr-primary: #289559;
	$clr-secondary: hsl(208, 43%, 59%);
	$clr-tertiary: hsl(27, 47%, 43%);
	$clr-success: #84cc16;
	$clr-warning: #eab308;
	$clr-error: #d41976;
	$clr-surface: #363636;

	--clr-txt: hsl(0 0% 98%);

	@include color-palette(primary, $clr-primary);
	@include color-palette(secondary, $clr-secondary);
	@include color-palette(tertiary, $clr-tertiary);
	@include color-palette(success, $clr-success);
	@include color-palette(warning, $clr-warning);
	@include color-palette(error, $clr-error);
	@include color-palette(surface, $clr-surface);

	/* Post */
	--post-overlay-bg: radial-gradient(hsl(173 100% 4% / 80%), var(--clr-surface-500));
	--post-blockquote-txt: hsl(173 100% 94%);
	--post-blockquote-bg: hsl(173 60% 8%);
	--post-blockquote-border: hsl(173 10% 10%);

	--clr-code-bg: linear-gradient(hsl(173 60% 10%), hsl(173 60% 12%));
	--clr-code-title: hsl(173 100% 94%);
	--clr-code-title-bg: hsl(173 60% 10%);
	--clr-code-border: hsl(173 10% 10%);
	--clr-code-line-number: hsl(173 20% 40%);
	--clr-code-line-highlight: hsl(173 40% 20%);
	--clr-code-inline-txt: hsl(173 100% 94%);
	--clr-code-inline-bg: hsl(173 60% 4%);

	--clr-token-1: hsl(173 100% 66%);
	--clr-token-2: hsl(180 60% 80%);
	--clr-token-3: hsl(173 100% 66%);
	--clr-token-4: hsl(0 0% 98%);
	--clr-token-5: hsl(173 10% 60%);
}

html[color-theme='light'] {
	/* Palette */
	$clr-primary: #289559ed;
	$clr-secondary: hsl(208, 43%, 59%);
	$clr-tertiary: hsl(27, 47%, 43%);
	$clr-success: #84cc16;
	$clr-warning: #eab308;
	$clr-error: #d41976;
	$clr-surface: hsl(32, 80%, 82%);

	--clr-txt: hsl(220 10% 10%);

	@include color-palette(primary, $clr-primary);
	@include color-palette(secondary, $clr-secondary);
	@include color-palette(tertiary, $clr-tertiary);
	@include color-palette(success, $clr-success);
	@include color-palette(warning, $clr-warning);
	@include color-palette(error, $clr-error);
	@include color-palette(surface, $clr-surface);

	/* Post */
	--post-overlay-bg: radial-gradient(hsl(0 0% 100% / 60%), var(--clr-surface-500));
	--post-blockquote-txt: hsl(0 0% 40%);
	--post-blockquote-bg: hsl(0 0% 98%);
	--post-blockquote-border: hsl(0 0% 84%);

	--clr-code-bg: linear-gradient(hsl(0 0% 94%), hsl(0 0% 98%));
	--clr-code-title: hsl(0 0% 40%);
	--clr-code-title-bg: hsl(0 0% 94%);
	--clr-code-border: hsl(0 0% 84%);
	--clr-code-line-number: hsl(0 0% 60%);
	--clr-code-line-highlight: hsl(0 0% 90%);
	--clr-code-inline-txt: hsl(0 0% 98%);
	--clr-code-inline-bg: hsl(0 0% 20%);

	--clr-token-1: hsl(220 100% 50%);
	--clr-token-2: hsl(220 60% 50%);
	--clr-token-3: hsl(220 100% 50%);
	--clr-token-4: hsl(0 0% 20%);
	--clr-token-5: hsl(0 0% 60%);
}
